header {
    display: flex;
    justify-content: center;
    background-color: #3274d6;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    width: 725px;

    h1 {
        text-align: center;
        color: #e2ebf8;
    }
}