<div class="mat-elevation-z4">
    <table mat-table>
        <!-- <td>
            <th>ID</th>
            <td *ngFor="let product of products">
                {{ product.id }}
            </td>
        </td>
        <td>
            <th>Name</th>
            <td *ngFor="let product of products">
                {{ product.name }}
            </td>
        </td>
        <td>
            <th>Price</th>
            <td *ngFor="let product of products">
                {{ product.price }}
            </td>
        </td> -->
    </table>
</div>