main {
    display: flex;
    gap: 1rem;
    width: 725px;
    padding: 1rem;

    ul {

        &#users {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            gap: 0.5rem;
            margin: 0;

            li {

            }
        }
    }

    :nth-child(1) {
        flex: 1;
    }

    :nth-child(2) {
        display: flex;
        justify-content: center;
        flex: 2;
    }
}