main {
    display: flex;
    gap: 1rem;
    width: 725px;
    padding: 1rem;

    ul {

        &#users {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            gap: 0.5rem;
            margin: 0;

            li {

            }
        }
    }

    > ul {
        flex: 1;
    }

    app-tasks {
        display: flex;
        justify-content: center;
        flex: 2;
    }

    p {
        padding: 1rem;
        color: #3274d6;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
    }
}