aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: var(--shadow);
}

.menu a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1em;
    font-weight: 600;
    transition: .2s ease-in-out;
}

.menu a:hover {
    background-color: rgba(3, 14, 28, 0.651); 
    cursor: pointer;
}

@media(max-width: 768px) {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }

    .menu {
        height: 100%;
        justify-content: space-around;
    }
}