@charset "UTF-8";

/* Configurações Default */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 153, 0, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding: 10px;
    color: white;
    text-shadow: 0.5px 0.5px 1.5px rgb(238, 63, 0);
}

p {
    font-weight: 600;
    color: rgb(20, 20, 20);
    padding: 10px;
    background-color: rgba(255, 68, 0, 0.897);
    border-radius: 5px;
    width: 65%;
    text-align: center;
    margin: 10px;
}

